root {
    /*primary colors*/
    --primary-light: #3d7cc4;
    --primary: #1c5ba3;
    --primary-dark: #06448D;

    /* Accent colors */
    --accent-light: ;
    --accent:;
    --accent-dark:;

    /* Background colors */
    --background-color-light: rgb(144, 237, 242);
    --background-color-dark: rgb(9, 111, 116);

}

h1 {
    color: var(--primary-dark);
}

.images {
    flex: ;
}